npm install -g expo-cli
npm install axios
npm install react-native-paper
npm install @react-navigation/native
npm install @react-navigation/stack
npm install react-native-screens react-native-safe-area-context
npm install react-native-status-bar-height
npm install react-native-webview